@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Arimo:wght@500 & family= Koulen & family= Radio+Canada:wght@600 & familia= Roboto:ital,peso@1,300 &family= Smooch & family= Tiro+Gurmukhi & family= Tiro+Telugu & family= Ubuntu:ital@1 & display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: #eae2b7; }

header {
  text-transform: uppercase;
  box-shadow: 0px 0px 15px 0px #161615; }
  header .colorNav {
    background-color: #f77f00; }
    header .colorNav div ul li {
      padding: 8px 25px;
      padding-left: 20px;
      border-radius: 6px; }
      header .colorNav div ul li a:hover {
        background-color: #fcbf49;
        color: #faf9f9;
        border-radius: 8px;
        padding: 15px 12px; }

a {
  font-size: 20px;
  border-radius: 8px;
  color: #faf9f9;
  text-decoration: none;
  padding: 15px 12px; }

footer {
  background-color: #f77f00; }

figcaption {
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #f77f00; }

figure {
  display: inline-block;
  background-color: #fcbf49;
  border-radius: 8px;
  margin: auto; }
  figure img {
    border-radius: 8px; }

h2 {
  padding: 5px 0px; }

p {
  padding: 10px 0px;
  text-align: justify; }

.contenedorTitulo {
  margin-top: 8px;
  background-color: #d80e0e;
  color: #faf9f9;
  padding: 10px; }

.anchorLink {
  padding: 5px;
  color: #d80e0e;
  font-size: 16px; }

@media (min-width: 320px) {
  body {
    text-align: center; }
  header .colorNav div ul li {
    text-align: left; }
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 15px; } }

@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    justify-content: space-between; }
  .contenedorTitulo {
    text-align: center;
    padding: 20px; } }

.encabezadoPadre {
  grid-area: navegación; }

.tituloPrincipal {
  grid-area: titulo; }

.publicidadPadre {
  grid-area: publicidad; }

.secciónPadre {
  grid-area: introducción; }

.contenedorFotos {
  grid-area: pictures; }

.tituloComida {
  grid-area: subtitulo; }

.contenedorRecetas {
  grid-area: articulo; }

.contenedorFooter {
  grid-area: footer; }

#grilla {
  display: grid;
  grid-template-areas: "navegación" "titulo" "introducción" "pictures" "subtitulo" "articulo" "footer"; }

@media (min-width: 320px) {
  #grilla {
    gap: 5px;
    grid-template-areas: "navegación" "titulo" "introducción" "pictures" "subtitulo" "articulo" "publicidad" "footer";
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  #grilla {
    gap: 10px;
    grid-template-areas: "navegación" "titulo" "introducción" "pictures" "subtitulo" "articulo" "publicidad" "footer";
    grid-template-columns: 1fr; } }

@media (min-width: 1024px) {
  #grilla {
    grid-template-areas: "navegación navegación" "titulo titulo" "introducción introducción" "pictures pictures" "subtitulo subtitulo" "articulo publicidad" "footer footer";
    grid-template-columns: 5fr 2fr; } }

@media (min-width: 320px) {
  .tituloPrincipal {
    grid-area: titulo;
    color: red;
    font-size: 2em;
    background-color: #fcbf49;
    padding: 20px;
    text-shadow: 5px 5px 6px #0a0101; }
  .publicidadPadre {
    display: flex;
    flex-direction: column;
    background-color: #fcbf49;
    border: 5px solid #003049;
    border-radius: 10px;
    padding: 10px;
    margin: 10px; }
    .publicidadPadre .tituloRecetas {
      color: red;
      padding: 10px; }
    .publicidadPadre .boxHijo {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px; }
      .publicidadPadre .boxHijo .publicidad {
        background-color: #eae2b7;
        padding: 10px;
        border-radius: 6px;
        margin: 10px 5px; }
  .secciónPadre {
    padding: 10px; }
  .contenedorFotos {
    padding: 0px 25px; }
    .contenedorFotos .fotoPrincipal {
      width: 320px;
      height: 320px; }
  .contenedorRecetas {
    display: flex;
    flex-direction: column;
    background-color: #fcbf49;
    padding: 20px;
    border: 5px solid #003049;
    border-radius: 10px;
    margin: 15px 10px; }
    .contenedorRecetas .tituloRecetas {
      color: red;
      padding: 10px; }
    .contenedorRecetas .cajaRecetas {
      display: flex;
      flex-direction: column; }
      .contenedorRecetas .cajaRecetas .boxPlatos {
        background-color: #eae2b7;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 5px; } }

@media (min-width: 768px) {
  .contenedorFotos .fotoPrincipal {
    width: 520px;
    height: 520px; }
  .contenedorRecetas {
    margin: 20px; }
  .publicidadPadre .boxHijo {
    flex-direction: row;
    justify-content: space-around; } }

@media (min-width: 1024px) {
  .tituloPrincipal {
    text-shadow: 7px 7px 10px #0a0101;
    text-align: center;
    transition: all 1s; }
    .tituloPrincipal.tituloPrincipal:hover {
      transform: scale(1.2);
      background-color: #fcbf49; }
    .tituloPrincipal h1 {
      font-weight: 700;
      font-size: 50px; }
  .publicidadPadre {
    margin: 20px; }
    .publicidadPadre .boxHijo {
      flex-direction: column;
      justify-content: space-evenly; }
      .publicidadPadre .boxHijo .publicidad {
        transition: all 1s; }
        .publicidadPadre .boxHijo .publicidad.publicidad:hover {
          background-color: #f77f00; }
  .contenedorFotos {
    padding: 10px 40px; }
    .contenedorFotos .fotoPrincipal {
      width: 650px;
      height: 620px; }
  .contenedorRecetas .cajaRecetas .boxPlatos {
    margin: 20px 10px;
    padding: 10px;
    transition: all 1s; }
    .contenedorRecetas .cajaRecetas .boxPlatos.boxPlatos:hover {
      background-color: #f77f00; } }

@media (min-width: 320px) {
  .contenedorSubtitulo h2 {
    font-weight: 700;
    color: #d80e0e; }
  .contenedorPadre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch; }
    .contenedorPadre .contenedorProductos {
      background-color: #f77f00;
      transition: all 1s;
      padding: 5px 10px;
      border-radius: 10px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px; }
      .contenedorPadre .contenedorProductos .imgProductos {
        width: 170px;
        height: 160px; }
      .contenedorPadre .contenedorProductos .listaProductos {
        text-align: left; } }

@media (min-width: 768px) {
  .contenedorPadre .contenedorProductos .imgProductos {
    width: 210px;
    height: 200px; } }

@media (min-width: 1024px) {
  .contenedorSubtitulo {
    text-align: center;
    padding: 30px 10px; }
  .contenedorPadre .contenedorProductos {
    background-color: #f77f00;
    transition: all 1s;
    padding: 5px 25px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px; }
    .contenedorPadre .contenedorProductos.contenedorProductos:hover {
      transform: scale(1.1);
      background-color: orangered; }
    .contenedorPadre .contenedorProductos .imgProductos {
      width: 230px;
      height: 220px; }
    .contenedorPadre .contenedorProductos .listaProductos {
      padding-top: 5px; } }

@media (min-width: 320px) {
  .contenedorListado {
    background-color: #fcbf49;
    padding: 20px;
    border-radius: 8px;
    border: 6px ridge #003049;
    margin: 20px; }
    .contenedorListado .listadoPasos {
      text-align: left; }
  .seccionFabricacion {
    background-color: #fcbf49;
    padding: 10px;
    border-radius: 8px;
    border: 6px ridge #003049;
    margin: 20px 20px; }
    .seccionFabricacion .imagenFabricación {
      width: 250px;
      height: 200px; }
    .seccionFabricacion .contenedorVideo {
      display: inline-block;
      margin: auto; }
      .seccionFabricacion .contenedorVideo .videoFabricacion {
        border-radius: 8px;
        width: 250px;
        height: 200px; } }

@media (min-width: 768px) {
  .contenedorListado .listadoPasos ol li {
    margin-left: 15px; }
  .seccionFabricacion {
    padding: 20px;
    margin: 25px 20px; }
    .seccionFabricacion .imagenFabricación {
      width: 450px;
      height: 250px; }
    .seccionFabricacion .contenedorVideo .videoFabricacion {
      width: 600px;
      height: 450px; } }

@media (min-width: 1024px) {
  .seccionFabricacion {
    padding: 30px;
    margin: 50px 50px; }
    .seccionFabricacion .imagenFabricación {
      width: 500px;
      height: 300px; } }

@media (min-width: 320px) {
  .tituloFormulario {
    text-align: center;
    color: #fd0000;
    padding: 15px 20px; }
  .contenedorForm {
    text-align: left;
    padding-bottom: 30px; }
    .contenedorForm form {
      background-color: #fcbf49;
      padding: 20px;
      border-radius: 10px;
      border: 5px groove #003049;
      margin-left: 5%;
      margin-right: 5%; } }

@media (min-width: 768px) {
  .contenedorForm form {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 40px; } }

@media (min-width: 1024px) {
  .contenedorForm form {
    padding: 30px;
    padding-left: 130px;
    margin-left: 20%;
    margin-right: 20%; } }

@media (min-width: 320px) {
  .contenedorArticulo {
    background-color: #fcbf49;
    padding: 30px;
    border: 6px groove #003049;
    border-radius: 10px;
    margin: 15px; } }

@media (min-width: 768px) {
  .contenedorArticulo {
    padding: 15px;
    margin: 30px 50px; } }
