@import "generales";
@import "grids";
@import "inicio";

main div{
    margin: 10px;
}
@media (min-width:480px){
    form{
        background-color: #e4e460;
        padding: 30px;
        margin: 50px;
    }
    .contenedorSubtitulo{
        color: red;
    }
    .contenedorForm{
        margin:40px 50px;
    }
    .tituloFormulario{
        color: rgb(253, 0, 0);
        padding: 10px;
    }
    .contenedorListado{
        background-color:#D65DB1;
        border: 6px ridge rgb(173, 0, 173);     
    }
    .listadoPasos{
        text-align: left;
    }
    .seccionFabricacion{
        background-color:#D65DB1;
        border: 6px ridge rgb(173, 0, 173);
        padding: 10px;
        margin: 20px 20px;
    }
    .videoFabricacion{
        width: 420px;
        height: 300px;
    }
    .imagenFabricación{
        height: 300px;
        width: 400px;
    }
    .contenedorVideo{
        display: inline-block;
        border: 8px ridge rgb(166, 9, 218);
    }
    .contenedorProductos{
        background-color:#F9F871;
        padding: 20px;
        margin: auto;
        margin-bottom: 40px;
    }
    .contenedorPadre{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    }
    .imgProductos{
        width: 420px;
        height: 420px;
    }
    .listaProductos{
        margin-left: 5px;
    }
    
    .contenedorArticulo{
        background-color: #845EC2;
        padding: 30px;
        border: 5px groove rgb(166, 9, 218);
        margin: 15px;
    }
}
@media (min-width:768px){
    
    form{
        text-align: left;
        padding: 10px 30px;
        margin: 20px 20px;
    }
    ol li{
        margin-left: 15px;
    }  
    .contenedorArticulo{
        padding: 15px;
        border: 8px groove rgb(166, 9, 218);
        margin: 30px;
    }
    .contenedorListado{
        padding: 20px;
        margin: 20px;
    }
    .contenedorPadre{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:stretch ;
    }
    .imgProductos{
        width: 320px;
        height: 320px;
    }
    .seccionFabricacion{
        padding: 20px;
        margin: 25px 20px;
    }
    .imagenFabricación{
        width: 450px;
        height: 300px;
    }
    .videoFabricacion{
        width: 550px;
        height: 420px;
    }
}
@media (min-width:1024px){
    form{
        padding: 30px 60px;
        margin: 30px 60px;
    }
    .imgProductos{
        width: 315px;
        height: 310px;
    }
    .contenedorSubtitulo{
        padding:30px 10px;
    }
    .contenedorSubtitulo h2:hover{
        font-weight: 600;
    }
    .contenedorProductos{
        background-color:#FF9671;
        transition: all 1s;
        padding: 20px 25px;
        border-radius: 12px;
        margin: auto;
        margin-bottom: 20px;
    }
    .contenedorProductos:hover{
        background-color:#F9F871;
        padding: 20px 25px;
        border-radius: 12px;
        margin: auto;
        margin-bottom: 20px;
    }
    .listaProductos{
        padding-top: 10px;
    }
    .seccionFabricacion{
        padding: 30px;
        margin: 50px 70px;
    }
    .imagenFabricación{
        height: 350px;
        width: 450px;
    }
    .videoFabricacion{
        width: 530px;
        height: 420px;
    }
}