@import url('https://fonts.googleapis.com/css2? family= Arimo:wght@500 & family= Koulen & family= Radio+Canada:wght@600 & familia= Roboto:ital,peso@1,300 &family= Smooch & family= Tiro+Gurmukhi & family= Tiro+Telugu & family= Ubuntu:ital@1 & display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color:$paleta-color-tres;
}
a{
    border-radius: 8px;
}
header{
    text-transform: uppercase;
    box-shadow: 0px 0px 15px 0px rgb(22, 22, 21);
    .colorNav{
        background-color: $paleta-color-uno;

        div ul li{
            padding: 8px 25px;
            padding-left: 40px;
            border-radius: 6px;
            & a:hover{
                background-color: $paleta-color-dos;
                border-radius: 8px;
                padding: 8px 12px;
            }             
            
        }
    }
}
footer{
    background-color:$paleta-color-uno;
}
figcaption{
    text-align: center;
    background-color: $paleta-color-uno;
}
figure{
    display: inline-block;
    background-color:$paleta-color-dos;
    border-radius: 8px;
    margin: auto;

    img{
        border-radius: 8px;
    }
}
h2{
    padding: 10px 0px 15px 30px;
}
p{
    padding: 10px 0px 10px 20px;
}
.contenedorTitulo{
    background-color: $paleta-color-cuatro;
    color: white;
    padding: 10px;
}
.anchorLink{
    color: red;
}
@media (min-width:320px){
    body{
        text-align: center;
    }
    header{
        position: sticky;
        top: 0px;
    }
    footer{
        display: flex;
        flex-direction:column-reverse;
        justify-content:space-around;
        padding: 15px;
    }
}
@media (min-width:1024px){
    body{
        text-align:left;
    }
    footer{
        display: flex;
        flex-direction: row;
        padding: 30px;
        justify-content: space-between;
    }
    .contenedorTitulo{
        text-align: center;
        padding: 20px;
    }
}