@import url('https://fonts.googleapis.com/css2? family= Arimo:wght@500 & family= Koulen & family= Radio+Canada:wght@600 & familia= Roboto:ital,peso@1,300 &family= Smooch & family= Tiro+Gurmukhi & family= Tiro+Telugu & family= Ubuntu:ital@1 & display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color:$paleta-color-tres;
}
header{
    text-transform: uppercase;
    box-shadow: 0px 0px 15px 0px rgb(22, 22, 21);
    .colorNav{
        background-color: $paleta-color-uno;

        div ul li{
            padding: 8px 25px;
            padding-left: 20px;
            border-radius: 6px;

            & a:hover{
                background-color: $paleta-color-dos;
                color: $paleta-color-seis;
                border-radius: 8px;
                padding: 15px 12px;
            }                                    
        }
    }
}
a{
    font-size: 20px;
    border-radius: 8px;
    color: $paleta-color-seis;
    text-decoration: none;
    padding: 15px 12px;
}
footer{
    background-color:$paleta-color-uno;
}
figcaption{
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $paleta-color-uno;
}
figure{
    display: inline-block;
    background-color:$paleta-color-dos;
    border-radius: 8px;
    margin: auto;

    img{
        border-radius: 8px;
    }
}
h2{
    padding: 10px 0px 15px 30px;
}
p{
    padding: 10px 0px;
    text-align: justify;
}
.contenedorTitulo{
    margin-top: 8px;
    background-color: $paleta-color-cuatro;
    color: $paleta-color-seis;
    padding: 10px;
}
.anchorLink{
    padding: 5px;
    color: $paleta-color-cuatro;
    font-size: 16px;
}

@media (min-width:320px){
    body{
        text-align: center;
    }
    header{

        .colorNav{
            div ul li{
                text-align: left;
            }
        }
    }
    footer{
        display: flex;
        flex-direction:column-reverse;
        justify-content:space-around;
        padding: 15px;
    }
}
@media (min-width:1024px){
    footer{
        display: flex;
        flex-direction: row;
        padding: 10px 30px;
        justify-content: space-between;
    }
    .contenedorTitulo{
        text-align: center;
        padding: 20px;
    }
}