@media (min-width:320px){
    .tituloPrincipal{
        grid-area: titulo;
        color:red;
        font-size: 2em;
        background-color:$paleta-color-dos;
        padding: 20px;
        text-shadow: 5px 5px 6px rgb(10, 1, 1);
    }
    .publicidadPadre{
        display: flex;
        flex-direction:column;
        background-color:$paleta-color-dos;
        border: 5px solid $paleta-color-cinco;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;

        .tituloRecetas{
            color: red;
            padding: 10px;
        }
        .boxHijo{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 10px;

            .publicidad{
                background-color: $paleta-color-tres;
                padding: 10px;
                border-radius: 6px;
                margin:10px 5px;
            }
        }
    }
    .secciónPadre{
        padding: 10px;
    }
    .contenedorFotos{
        padding: 0px 25px;

        .fotoPrincipal{
            width: 320px;
            height: 320px;
        }
    }
    .contenedorRecetas{
        display: flex;
        flex-direction: column;
        background-color:$paleta-color-dos;
        padding: 20px;
        border: 5px solid $paleta-color-cinco;
        border-radius: 10px;
        margin:15px 10px;

        .tituloRecetas{
            color: red;
            padding: 10px;
        }

        .cajaRecetas{
            display: flex;
            flex-direction: column;

            .boxPlatos{
                background-color:$paleta-color-tres;
                padding: 10px;
                border-radius: 10px;
                margin: 10px 5px;
            }
        }
    } 
}
@media (min-width:768px){
    .contenedorFotos{
        .fotoPrincipal{
            width: 520px;
            height: 520px;
        }
    }
    .contenedorRecetas{
        margin: 20px;
    }
    
    .publicidadPadre{
        .boxHijo{
            flex-direction:row;
            justify-content: space-around;
        }    
    }
}
@media (min-width:1024px){
    .tituloPrincipal{
        text-shadow: 7px 7px 10px rgb(10, 1, 1);
        text-align: center;
        transition: all 1s;
        &.tituloPrincipal:hover{
            transform: scale(1.2);
            background-color:$paleta-color-dos ;
        }
        h1{
            font-weight: 700;
            font-size: 50px;
        }
    }
    .publicidadPadre{
        margin: 20px;

        .boxHijo{
            flex-direction: column;
            justify-content: space-evenly;

            .publicidad{
                transition: all 1s;
                &.publicidad:hover{
                    background-color: $paleta-color-uno;
                }
            }
        }
    }

    .contenedorFotos{
        padding: 10px 40px;

        .fotoPrincipal{
            width: 620px;
            height: 620px;
        }
    }

    .contenedorRecetas{

        .cajaRecetas{

            .boxPlatos{
                margin: 20px 10px;
                padding: 10px;
                transition: all 1s;
                &.boxPlatos:hover{
                    background-color: $paleta-color-uno;
                }
            }
        }
    }
}
