@media (min-width:320px){
    .tituloFormulario{
        text-align: center;
        color: rgb(253, 0, 0);
        padding: 15px 20px;
    }

    .contenedorForm{
        text-align: left;
        padding-bottom: 30px;

        form{
            background-color: $paleta-color-dos;
            padding: 20px;
            border-radius: 10px;
            border: 5px groove $paleta-color-cinco;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}
@media (min-width:768px){
    .contenedorForm{

        form{
            margin-left: 10%;
            margin-right: 10%;
            padding: 20px 40px;
        }
    }
}
@media (min-width:1024px){
    .contenedorForm{

        form{
            padding: 30px;
            padding-left: 130px;
            margin-left: 20%;
            margin-right: 20%;
        }  
    }
}  