@media (min-width:480px){
    .tituloFormulario{
        text-align: center;
        color: rgb(253, 0, 0);
        padding: 10px;
    }

    .contenedorForm{
        margin:20px;

        form{
            background-color: $paleta-color-dos;
            padding: 30px;
            border-radius: 10px;
            margin: 30px;
        }
    }
}
@media (min-width:768px){
    .contenedorForm{

        form{
            text-align: left;
            padding: 10px 30px;
            margin: 20px 20px;
        }
    }
}
@media (min-width:1024px){
    .contenedorForm{

        form{
            padding: 30px 60px;
            margin: 30px 60px;
        }  
    }
}  