@media (min-width:320px){
    .contenedorSubtitulo{
        h2{
            font-weight: 700;
            color:$paleta-color-cuatro;
        }
    }

    .contenedorPadre{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:stretch;

        .contenedorProductos{
            background-color:$paleta-color-uno;
            transition: all 1s;
            padding: 5px 10px;
            border-radius: 10px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;

            .imgProductos{
                width: 170px;
                height: 160px;
            }

            .listaProductos{
                text-align: left;
                
            }    
        }
    }
}
@media (min-width:768px){
    .contenedorPadre{

        .contenedorProductos{

            .imgProductos{
                width: 210px;
                height: 200px;
            }
        }
    }
}
@media (min-width:1024px){
    .contenedorSubtitulo{
        text-align: center;
        padding:30px 10px;
        }
    
    .contenedorPadre{

        .contenedorProductos{
            background-color:$paleta-color-uno;
            transition: all 1s;
            padding: 5px 25px;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 30px;
            &.contenedorProductos:hover{
                transform: scale(1.1);
                background-color:orangered;
            }

            .imgProductos{
                width: 230px;
                height: 220px;
            }
    
            .listaProductos{
                padding-top: 5px;
            }    
        }
    }
}