@media (min-width:320px){
    .contenedorListado{
        background-color:$paleta-color-dos;
        padding: 20px;
        border-radius: 8px;
        border: 6px ridge $paleta-color-cinco;
        margin: 20px;
        
        .listadoPasos{
            text-align: left;
        }
    }

    .seccionFabricacion{
        background-color:$paleta-color-dos;
        padding: 10px;
        border-radius: 8px;
        border: 6px ridge $paleta-color-cinco;
        margin: 20px 20px;

        .imagenFabricación{
            height: 260px;
            width: 300px;
        }

        .contenedorVideo{
            display: inline-block;
            border: 8px ridge $paleta-color-cinco;
            border-radius: 8px;
            margin: auto;

            .videoFabricacion{
                width: 300px;
                height: 280px;
            }
        }
    }
}
@media (min-width:768px){
    .contenedorListado{

        .listadoPasos{
            ol li{
                margin-left: 15px;
            }  
        }
    }

    .seccionFabricacion{
        padding: 20px;
        margin: 25px 20px;

        .imagenFabricación{
            width: 480px;
            height: 320px;
        }
        
        .contenedorVideo{

            .videoFabricacion{
                width: 580px;
                height: 450px;
            }
        }
    }        
}
@media (min-width:1024px){
    .seccionFabricacion{
        padding: 30px;
        margin: 50px 50px;

        .imagenFabricación{
            justify-items: center;
            width: 500px;
            height: 350px;
        }

        .contenedorVideo{

            .videoFabricacion{
                width: 650px;
                height: 520px;
            }
        }
    }
}