@media (min-width:320px){
    .contenedorSubtitulo{
        h2{
            font-weight: 700;
            color: red;
        }
    }

    .contenedorPadre{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:stretch;

        .contenedorProductos{
            background-color:$paleta-color-uno;
            transition: all 1s;
            padding: 10px 10px;
            border-radius: 10px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;

            .imgProductos{
                width: 170px;
                height: 160px;
            }

            .listaProductos{
                text-align: left;
                
            }    
        }
    }
}
@media (min-width:768px){
    .contenedorPadre{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:stretch;

        .contenedorProductos{

            .imgProductos{
                width: 210px;
                height: 200px;
            }

        }
    }
}
@media (min-width:1024px){
    .contenedorSubtitulo{
        text-align: center;
        padding:30px 10px;
        &.contenedorSubtitulo h2:hover{
            font-weight: 800;
        }
    }
    
    .contenedorPadre{

        .contenedorProductos{
            background-color:$paleta-color-uno;
            transition: all 1s;
            padding: 15px 25px;
            border-radius: 10px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 15px;
            &.contenedorProductos:hover{
                background-color:$paleta-color-cuatro ;
                padding: 15px 25px;
                border-radius: 10px;
                margin: auto;
                margin-top: 10px;
                margin-bottom: 15px;
            }

            .imgProductos{
                width: 230px;
                height: 220px;
            }
    
            .listaProductos{
                padding-top: 5px;
            }    
        }
    }
}