.boxIntroduccion{
    color: rgb(247, 238, 238);
    background-color: orangered;
    border-radius: 10px;
    border: 8px solid red;
    margin: 10px 15px;
}
.secciónPadre{
    @extend.boxIntroduccion;
    font-family: Arial, Helvetica, sans-serif;
}